{% extends 'base.html.twig' %}

{% block title %}This Time It's Really Fixed!{% endblock %}

{% block body %}
<style>
    .wrapper { max-width: 1200px; margin: auto }
    .profile-pic { width: 70px; margin: auto; }
    .time { color: #666; font-size: 0.75em; }
    * { vertical-align: middle; }
    h1 { text-align: center; margin: 1em; }
    h1, a.commit-message { font-family: 'Roboto Mono', monospace; color: #000; }
    .commit-list .row:not(:last-child) { border-bottom: 1px solid #ccc; }
    .row { padding: 5px 0; }
    .sidebar { font-size: 0.8em; }
</style>

<div class="wrapper">
    <h1>This Time It's Really Fixed!</h1>

    <div class="row commit-list">
        <div class="col-sm-12 col-md-9">
            {% for commit in commits %}
                <div class="row">
                    <div class="col-sm-3 col-md-5">
                        <div class="row">
                            <div class="col-sm-12 col-md-3 text-center">
                                <a href="https://github.com/{{ commit.getAuthorName() }}" target="_blank">
                                    <img
                                            src="https://avatars3.githubusercontent.com/u/{{ commit.getAuthorId() }}?s=100"
                                            alt="{{ commit.getAuthorName() }}"
                                            class="profile-pic"
                                    >
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-9 text-center">
                                <p>
                                    <a href="https://github.com/{{ commit.getAuthorName() }}" target="_blank">
                                        {{ commit.getAuthorName() }}
                                    </a>
                                </p>
                                <p class="time">{{ commit.getDate().format('Y-m-d H:i:s') }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-7">
                        <div class="commit-message-wrap">
                            <a href="{{ commit.getUrl() }}" target="_blank" class="commit-message">
                                {{ commit.getMessage() }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-6 text-left">
                    {% if page > 1 %}
                        <a href="/{{ page - 1 }}">&laquo; Previous Page</a>
                    {% endif %}
                </div>
                <div class="col-md-6 text-right">
                    {% if page < lastPage %}
                        <a href="{{ page + 1 }}">Next Page &raquo;</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="sidebar text-right">
                <p>
                    Created by <a href="https://danny.gg" target="_blank">Danny Battison</a>
                </p>
                <p>
                    Inspired by <a href="http://www.commitlogsfromlastnight.com/" target="_blank">CLFLN</a>
                </p>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script>
                  (adsbygoogle = window.adsbygoogle || []).push({
                    google_ad_client: "ca-pub-0964213421578175",
                    enable_page_level_ads: true
                  });
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}
